.Group {
  /*width: 400px !important;*/
  min-width: 260px;
}

.Title {
  text-transform: uppercase;
  color: rgb(126, 126, 126);
  /*color: rgb(255, 255, 255);*/
  font-weight: 700;
  font-size: 1.1rem;
  margin-left: 10px;
}